*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* add all primary properties to use here guys */
:root{
    --black-1: #121212;
    --black-2: #4b4b4b;
    --grey-1: #f2f2f2;
    --grey-2: #FBFBFB;
    --grey-3: #8e8e8e;
    --grey-4: #dddddd;
    --main-color: #ffffff;
    --bg: #ebedf5;
    --disable-icon-color: #bebebe;
}

.pd-1{
    padding: 1.5rem 2rem 2.5rem ;
}
.pd-2{
    padding: 1rem 1.75rem;
}
.btn{
    cursor: pointer;
    padding: 0.75rem 0.75rem;
    background: var(--grey-2);
    border-radius: 0.75rem;
    width: fit-content;
    transition: background 0.3s ease;
}
.btn:hover{
    background: var(--grey-1);
}
.header .btn{
    padding: 0.5rem 0.75rem;
}
input{
    font-family: inherit;
    font-size: 0.875rem !important;
}
body{
    font-family: "Poppins", sans-serif;
    background: var(--bg);
}